geo {{ item.address|default('') }} ${{ item.name }} {
{% if item.ranges|default(false) %}
  ranges;
{% endif %}
{% if item.default|default(false) %}
  default {{ item.default }};
{% endif %}
{% if item.delete|default(false) %}
  delete {{ item.delete }};
{% endif %}

{% if item.proxies|default(false) and item.proxies is iterable %}
{% if item.proxy_recursive|default(false) %}
  proxy_recursive;
{% endif %}
{% for proxy in item.proxies %}
  proxy {{ proxy }};
{% endfor %}
{% endif %}

{% if item.networks %}
{% set field_width = item.networks.keys()|map('length')|max %}
{% for key,value in item.networks|dictsort %}
  {{ key.ljust(field_width) }} {{ value }};
{% endfor %}
{% endif %}
}
