map {{ item.string }} ${{ item.name }} {
{% if item.hostnames|default(false) %}
  hostnames;
{% endif %}
{% if item.default|default(false) %}
  default {{ item.default }};
{% endif %}

{% if item.mappings|default(false) %}
{% set field_width = item.mappings.keys()|map('length')|max %}
{% for key,value in item.mappings|dictsort %}
  {{ key.ljust(field_width) }} {{ value }};
{% endfor %}
{% endif %}
}
