{% if nginx_package_source == 'nginx-mainline' -%}
[nginx]
name=nginx repo
baseurl=http://nginx.org/packages/mainline/{{ _os }}/ansible_distribution_major_version/$basearch/
gpgcheck=1
gpgkey=http://nginx.org/keys/nginx_signing.key
enabled=1
priority=1
{% else %}
[nginx]
name=nginx repo
baseurl=http://nginx.org/packages/{{ _os }}/ansible_distribution_major_version/$basearch/
gpgcheck=1
gpgkey=http://nginx.org/keys/nginx_signing.key
enabled=1
priority=1
{% endif -%}
