{% if nginx_location_cfg_append -%}
{% for key,value in nginx_location_cfg_append|dictsort %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
    {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
    {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif -%}

{% if nginx_location_custom_cfg_append -%}
{% for key,value in nginx_location_custom_cfg_append.iteritems() %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
    {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
    {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif -%}
{% if nginx_raw_append is not defined and nginx_raw_append|default([])|count > 0 %}
{% for line in nginx_raw_append %}
    {{ line }}
{% endfor %}
{% endif %}

{% if nginx_include -%}
{% for include_file in nginx_include -%}
    include {{ include_file }};
{% endfor -%}
{% endif -%}
  }
