{% if item.location_cfg_append|default(false) %}
{% for key,value in item.location_cfg_append|dictsort %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
    {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
    {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif %}

{% if item.location_custom_cfg_append|default(false) %}
{% for key,value in item.location_custom_cfg_append.iteritems() %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
    {{ key }} {{ asubvalue }}
{% endfor %}
{% else %}
    {{ key }} {{ value }}
{% endif %}
{% endfor %}
{% endif %}
{% if item.raw_append|default(false) and item.raw_append|default([])|count > 0 %}
{% for line in item.raw_append %}
    {{ line }}
{% endfor %}
{% endif %}

{% if item.include|default(false) %}
{% for include_file in item.include %}
    include {{ include_file }};
{% endfor %}
{% endif %}
  }
