{# *** [START] set _location *** #}
{% if item.use_default_location|default(false) %}
{% set _location = '/' %}
{% else %}
{% set _location = item.location %}
{% endif %}
{# *** [END] set _location *** #}

  location {{ _location }} {
{% if item.internal|default(false) %}
    internal;
{% endif %}
{% if item.mp4|default(false) %}
    mp4;
{% endif %}
{% if item.flv|default(false) %}
    flv;
{% endif %}
{% if item.location_allow|default(false) %}
{% for allow_rule in item.location_allow %}
    allow {{ allow_rule }};
{% endfor %}
{% endif -%}
{% if item.location_deny|default(false) %}
{% for deny_rule in item.location_deny %}
    deny {{ deny_rule }};
{% endfor %}
{% endif %}
{% if item.auth_basic|default(false) %}
    auth_basic           "{{ item.auth_basic }}";
{% endif %}
{% if item.auth_basic_user_file|default(false) %}
    auth_basic_user_file {{ item.auth_basic_user_file }};
{% endif -%}

{% if item.location_custom_cfg_prepend|default(false) %}
{% for key,value in item.location_custom_cfg_prepend.iteritems() %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
    {{ key }} {{ asubvalue }}
{% endfor %}
{% else %}
    {{ key }} {{ value }}
{% endif %}
{% endfor %}
{% endif -%}

{% if item.location_cfg_prepend|default(false) -%}
{% for key,value in item.location_cfg_prepend|dictsort %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
    {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
    {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif -%}

{% if item.raw_prepend|default(false) and item.raw_prepend|default([])|count > 0 %}
{% for line in item.raw_prepend %}
    {{ line }}
{% endfor %}
{% endif -%}

{% if item.rewrite_rules|default(false) or item.rewrite_rules|default([])|count > 0 %}
{% for rewrite_rule in item.rewrite_rules %}
    rewrite {{ rewrite_rule }}
{% endfor %}
{% endif -%}
