
  location {{ nginx_location }} {
{% if nginx_internal -%}
    internal;
{% endif -%}
{% if nginx_mp4 -%}
    mp4;
{% endif -%}
{% if nginx_flv -%}
    flv;
{% endif -%}
{% if nginx_location_allow -%}
    {% for allow_rule in nginx_location_allow -%}
    allow {{ allow_rule }};
    {% endfor -%}
{% endif -%}
{% if nginx_location_deny -%}
    {% for deny_rule in nginx_location_deny -%}
    deny {{ deny_rule }};
    {% endfor -%}
{% endif -%}
{% if nginx_auth_basic -%}
    auth_basic           "{{ nginx_auth_basic }}";
{% endif -%}
{% if nginx_auth_basic_user_file -%}
    auth_basic_user_file {{ nginx_auth_basic_user_file }};
{% endif -%}

{% if nginx_location_custom_cfg_prepend -%}
{% for key,value in nginx_location_custom_cfg_prepend.iteritems() %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
    {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
    {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif -%}

{% if nginx_location_cfg_prepend -%}
{% for key,value in nginx_location_cfg_prepend|dictsort %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
    {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
    {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif -%}

{% if nginx_raw_prepend is not defined and nginx_raw_prepend|default([])|count > 0 %}
{% for line in nginx_raw_prepend %}
    {{ line }}
{% endfor %}
{% endif %}

{% if nginx_rewrite_rules is not defined or nginx_rewrite_rules|default([])|count > 0 %}
{% for rewrite_rule in nginx_rewrite_rules %}
    rewrite {{ rewrite_rule }}
{% endfor %}
{% endif %}
