  ssl on;

  ssl_certificate           {{ item.ssl_cert }};
  ssl_certificate_key       {{ item.ssl_key }};
{% if item.ssl_client_cert|default(false) %}
  ssl_client_certificate    {{ item.ssl_client_cert }};
  ssl_verify_client on;
{% endif %}
{% if item.ssl_dhparam|default(false) %}
  ssl_dhparam               {{ item.ssl_dhparam }};
{% endif %}
  ssl_session_cache         {{ item.ssl_cache|default(nginx_ssl_cache) }};
  ssl_session_timeout       {{ item.ssl_session_timeout|default(nginx_ssl_session_timeout) }};
{% if item.ssl_buffer_size|default(false) %}
  ssl_buffer_size           {{ item.ssl_buffer_size }};
{% endif %}
  ssl_protocols             {{ item.ssl_protocols|default(nginx_ssl_protocols) }};
  ssl_ciphers               {{ item.ssl_ciphers|default(nginx_ssl_ciphers) }};
  ssl_prefer_server_ciphers on;
{% if item.ssl_crl|default(false) %}
  ssl_crl                   {{ item.ssl_crl }};
{% endif -%}

{% if item.ssl_stapling|default(false) %}
  ssl_stapling              on;
{% endif %}
{% if item.ssl_stapling_file|default(false) %}
  ssl_stapling_file         {{ item.ssl_stapling_file }};
{% endif %}
{% if item.ssl_stapling_responder|default(false) %}
  ssl_stapling_responder    {{ item.ssl_stapling_responder }};
{% endif %}
{% if item.ssl_stapling_verify|default(false) -%}
  ssl_stapling_verify       on;
{% endif %}
{% if item.ssl_trusted_cert|default(false) %}
  ssl_trusted_certificate   {{ item.ssl_trusted_cert }};
{% endif %}
