{% if item.include_files %}
{% for file in item.include_files %}
  include {{ file }};
{% endfor %}
{% end -%}

{% if item.vhost_cfg_append -%}
{% for key,value in item.vhost_cfg_append|dictsort %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
  {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
  {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif -%}

{% if item.vhost_cfg_ssl_append -%}
{% for key,value in item.vhost_cfg_ssl_append|dictsort %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
  {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
  {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif -%}

{% for line in item.raw_append -%}
  {{ line }}
{% endfor -%}
}
