{% if item.include_files|default(false) %}
{% for file in item.include_files %}
  include {{ file }};
{% endfor %}
{% endif %}

{% if item.vhost_cfg_append|default(false) %}
{% for key,value in item.vhost_cfg_append|dictsort %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
  {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
  {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif %}

{% if item.vhost_cfg_ssl_append|default(false) %}
{% for key,value in item.vhost_cfg_ssl_append|dictsort %}
{# NOTE: value may only be a string or a list #}
{% if value is not string and value is iterable%}
{% for asubvalue in value %}
  {{ key }} {{ asubvalue }};
{% endfor %}
{% else %}
  {{ key }} {{ value }};
{% endif %}
{% endfor %}
{% endif %}

{% if item.raw_append|default(false) and item.raw_append is iterable%}
{% for line in item.raw_append %}
  {{ line }}
{% endfor %}
{% endif %}
}
