{% if nginx_www_root is defined -%}
    root      {{ nginx_www_root }};
{% endif -%}
{% if nginx_autoindex is defined -%}

    autoindex {{ nginx_autoindex }};
{% endif -%}
{% if nginx_index_files %}
    index    {{ nginx_index_files|join(' ') }};
{% endif %}
{% if nginx_try_files -%>
    try_files {{ nginx_try_files|join(' ') }};
{% endif -%>
