{% if item.www_root|default(false) %}
    root          {{ item.www_root }};
{% endif %}
    include       {{ item.fastcgi_params_file }};
{% if nginx_try_files|default(false) %}
    try_files    {{ item.try_files|join(' ') }};
{% endif %}

    fastcgi_pass  {{ item.fastcgi_pass }};
{% if item.fastcgi_split_path|default(false) %}
    fastcgi_split_path_info {{ item.fastcgi_split_path }};
{% endif %}
{% if item.fastcgi_param|default(false) %}
{% set field_width = item.fastcgi_param.keys()|map('length')|max %}
{% for key,value in item.fastcgi_param|dictsort %}
    fastcgi_param {{ key.ljust(field_width) }} {{ value }};
{% endfor %}
{% if item.fastcgi_script|default(false) %}
    fastcgi_param SCRIPT_FILENAME {{ item.fastcgi_script }};
{% endif %}
{% endif %}
