    proxy_pass            {{ item.proxy_pass }};
    proxy_read_timeout    {{ item.proxy_read_timeout }};
    proxy_connect_timeout {{ item.proxy_connect_timeout }};
    proxy_redirect        {{ item.proxy_redirect }};
{% if item.proxy_method|default(false) %}
    proxy_method          {{ item.proxy_method }};
{% endif %}
{% if item.proxy_set_body|default(false) %}
    proxy_set_body        {{ item.proxy_set_body }};
{% endif %}
{% if item.proxy_set_header|default([])|count > 0 %}

{% for header in item.proxy_set_header %}
    proxy_set_header      {{ header }};
{% endfor %}

{% endif %}
{% if item.proxy_cache|default(false) %}
    proxy_cache           {{ item.proxy_cache }};
{% endif %}
{% if item.proxy_cache_valid|default(false) %}
    proxy_cache_valid     {{ item.proxy_cache_valid }};
{% endif %}
{% if item.proxy_cache_use_stale|default(false) %}
    proxy_cache_use_stale   {{ item.proxy_cache_use_stale }};
{% endif %}
{% if item.proxy_cache_key|default(false) %}
    proxy_cache_key         {{ item.proxy_cache_key }};
{% endif %}
