{% if item.www_root|default(false) %}
    root  {{ item.www_root }};
{% endif %}
{% if item.try_files|default(false) %}
    try_files {{ item.try_files|join(' ') }};
{% endif %}
    include {{ item.uwsgi_params_file|default(nginx_uwsgi_params_file) }};
    uwsgi_pass {{ item.uwsgi_pass }};
