{% if nginx_www_root is defined -%}
    root  {{ nginx_www_root }};
{% endif -%}
{% if nginx_try_files -%}
    try_files {{ nginx_try_files|join(' ') }};
{% endif -%}
    include {{ nginx_uwsgi_params }};
    uwsgi_pass {{ nginx_uwsgi }};
